{{ define "main" }}
<main>
    <div class="homepage">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                        <span class="minor_line">Notes On Using</span>
                        <br>
                    <span class="major_line">Python and Data Science</span>
                    <br>
                    <span class="minor_line">To Make Cool Stuff</span>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 blurb">
                <p>For a good while, whenever I'd start to learn something new, I'd go down a rabbit hole of documentation, books, YouTube videos, etc. As I dug deeper and deeper into the material, I'd leave behind mountain of scratch paper where I'd jotted along. Then (if I even found the time) I'd rewrite/distill it into some Moleskine notebook for "easy reference" later.</p>

                <p>Then, of course, you have to know how to reference all of your reference materials. If I forgot to bring my notebook to work, I'd be out of luck. Or better yet, how would I share the notes that I took if they might be useful for someone else?</p>

                <p>So, by the time I found <a href="https://chrisalbon.com/">Chris Albon's excellent note-compiling repository</a> it felt like the answer to all of my problems. After a good deal of reverse-engineering, this page is less about curating a body of work, and more a consistent place that I can stage the things I'm figuring out. That means that I don't intend to brain-dump all of the things I know just to fill space. <strong>If you're new</strong> and looking for beginner materials, <a href="https://napsterinblue.github.io/pages/resources.html#my-python-essentials">this might prove more helpful!</a>

            </div>
        </div>


        <div class="row" id="python">
            <div class="col-sm-12">
                <h3 class="category_header">Python</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Pandas</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/pandas/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Internals</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/internals/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Object Oriented Programming</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/oop/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Data Visualization</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/viz/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Development</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/development/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Numpy</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/numpy/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="machine_learning">
            <div class="col-sm-12">
                <h3 class="category_header">PySpark</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/spark/basics/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Spark SQL</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/spark/sparksql/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Machine Learning</h4>
                        <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/spark/machine_learning/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Some Trickier Appliations</h4>
                        <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/spark/intermediate/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="machine_learning">
            <div class="col-sm-12">
                <h3 class="category_header">Machine Learning</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                 <div class="card">
                    <h4 class="card-header">Datasets</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/machine_learning/datasets/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Validation</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/machine_learning/validation/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Data Preprocessing</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/machine_learning/preprocessing/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Model Selection</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/machine_learning/model_selection/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="graphs">
            <div class="col-sm-12">
                <h3 class="category_header">Graphs</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Algorithms</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/graphs/algorithms/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>

</main>
{{ end }}
